[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.template.qmlbook5_chapter4
Exec=/usr/bin/ru.template.qmlbook5_chapter4
Name=QmlBookExample
Name[ru]=QmlBookExample

[X-Application]
Permissions=PushNotifications;DeviceInfo;RemovableMedia;UserDirs
OrganizationName=ru.template
ApplicationName=qmlbook5_chapter4
ExecDBus=/usr/bin/ru.template.qmlbook5_chapter4
